/* GENERAL */
:root {
    --primary-color: #c6bfa7;
    --secondary-color: #fcefee;
    --ternary-color: #fff;
}

// Pour compatibilité IE
$primary-color: #c6bfa7;
$secondary-color: #fcefee;
$ternary-color: #fff;

::-moz-selection {
    background: $primary-color;
    background: var(--primary-color);
    color: $ternary-color;
    color: var(--ternary-color);
}

::selection {
    background: $primary-color;
    background: var(--primary-color);
    color: $ternary-color;
    color: var(--ternary-color);
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Comfortaa', cursive;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    // Technique pour éviter que les éléments de la timeline apparaissent subrepticement avant le début de celle-ci (effet de clignotement) -> cf début du JavaScript
    opacity: 0;
}

#fixebg {
    background: url("../images/wall.jpg") 50% 50% no-repeat;
    background-size: cover !important;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

body.dark {
        #fixebg, .modal-body {
            background: url("../images/wall-dark.jpg") 50% 50% no-repeat;
        }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

section {
    padding: 45px 0 80px 0;

    .heading {
        text-align: center;
        padding-bottom: 40px;

        .h2 {
            text-transform: uppercase;
        }
    }
}

.ie-alert {
    display: none;
}

// Afficher un message d'alerte aux utilisateurs d'IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie-alert {
        display: block;
        margin-top: 100px;

        a {
            color: #721c24;
            font-weight: bold;
        }
    }

    .btn-toggle {
        display: none !important;
    }
 }

.curved {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.slow-curved {
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.button1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 999px;
    transition: color 0.3s ease-in 0s;
    -moz-transition: color 0.3s ease-in 0s;
    -o-transition: color 0.3s ease-in 0s;
    -webkit-transition: color 0.3s ease-in 0s;
    background: linear-gradient(145deg, #b2ac96, #d4ccb3);
    box-shadow:  9px 9px 18px #a8a28e, 
                        -9px -9px 18px #e4dcc0;
}

body.dark .button1 {
    color: $ternary-color;
    color: var(--ternary-color);
    background: linear-gradient(145deg, #1d1d1d, #222222);
    box-shadow:  9px 9px 18px #1b1b1b, 
                        -9px -9px 18px #252525;
}

.beige-divider {
    background: $primary-color;
    background: var(--primary-color);
    width: 100px;
    height: 2px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px #000;
}

.white-divider {
    background: $ternary-color;
    background: var(--ternary-color);
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

.container {
    position: relative;
}

.btn-toggle {
    position: fixed;
    top: 130px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #c6bfa7;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
    opacity: 0.7;

    &:hover {
        opacity: 1 !important;
    }

    i {
        font-size: 35px;
    }
}

.pulsed {
    -webkit-animation: pulse 1.3s infinite;
            animation: pulse 1.3s infinite;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px #333;
    }
    to {
        box-shadow: 0 0 0 18px rgba(51, 51, 51, 0.01);
    }
}

@-webkit-keyframes pulse {
    from {
        box-shadow: 0 0 0 0px #333;
    }
    to {
        box-shadow: 0 0 0 18px rgba(51, 51, 51, 0.01);
    }
}

body.dark {
    .btn-toggle {
        background: #c6bfa7;
        color: #333;
        border: 1px solid #c6bfa7;
    }
    
    .beige-divider {
        background: $ternary-color;
        background: var(--ternary-color);
    }
}

@media screen and (max-width: 1439px) and (orientation: landscape) {
    .curved {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
    
    .slow-curved {
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }

    .btn-toggle {
        top: 100px;
        width: 60px;
        height: 60px;

        i {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 1199px) and (orientation: landscape) {
    .btn-toggle {
        width: 60px;
        height: 60px;

        i {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .button1 {
        padding: 14px 35px;
    }

    .curved {
        border-bottom-left-radius: 50% 7%;
        border-bottom-right-radius: 50% 7%;
    }

    .slow-curved {
        border-bottom-left-radius: 50% 3%;
        border-bottom-right-radius: 50% 3%;
    }

    .btn-toggle {
        top: 75px;
        right: 27.5px;
        width: 45px;
        height: 45px;

        i {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    .button1 {
        padding: 18px 50px;
    }

    .curved {
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }

    .slow-curved {
        border-bottom-left-radius: 50% 2%;
        border-bottom-right-radius: 50% 2%;
    }
    
    .btn-toggle {
        top: 100px;
        width: 60px;
        height: 60px;

        i {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .button1 {
        padding: 8px 20px;
    }

    .curved {
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }

    .slow-curved {
        border-bottom-left-radius: 50% 2%;
        border-bottom-right-radius: 50% 2%;
    }

    section .heading h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .curved {
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }

    .slow-curved {
        border-bottom-left-radius: 50% 2%;
        border-bottom-right-radius: 50% 2%;
    }

    section .heading h2 {
        font-size: 22px;
    }

    .btn-toggle {
        top: 75px;
        right: 27.5px;
        width: 45px;
        height: 45px;

        i {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 575px) and (orientation: landscape) {
    .button1 {
        padding: 14px 35px;
    }
}

/* MENU */

.navbar {
    background: $primary-color;
    background: var(--primary-color);
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 1px solid $ternary-color;
    border-bottom: 1px solid var(--ternary-color);

    .navbar-collapse {
        justify-content: center;
    }
}

.nav-pills .nav-link {
    color: $ternary-color !important;
    color: var(--ternary-color) !important;
    text-align: center;

    &.active, &:hover {
        color: $primary-color !important;
        color: var(--primary-color) !important;
        background: $ternary-color !important;
        background: var(--ternary-color) !important;
    }
}

.navbar-nav li a {
    color: $ternary-color !important;
    color: var(--ternary-color) !important;
    margin: 5px 10px;
}

.navbar-light .navbar-toggler {
    border-style: none;
    /* Permet d'enlever les pointillés qui apparaissent d'office lors de la sélection d'un bouton sur Firefox'*/
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

body.dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(198, 191, 167)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media screen and (max-width: 1439px) {
    .navbar {
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .nav-item i, .nav-item br {
        display: none;
    }
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    .navbar {
        font-size: 18px;
    }

    .nav-item i {
        display: inline-block;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .navbar {
        font-size: 12px;
    }

    .navbar-nav li a {
        margin: 2px 5px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .navbar {
        font-size: 14px;
    }

    .navbar-nav li a {
        margin: 2px 5px;
    }
}

@media screen and (max-width: 399px) {
    .navbar {
        font-size: 12px;
    }
}

/* HOME */

#home {
    padding-top: 100px;
    background: $primary-color;
    background: var(--primary-color);

    .heading #type-writer {
        color: white;
        padding: 10px 0;
        margin-top: 30px;
        font-weight: normal;
        background: #333;
        width: 50%;
        margin: 30px auto 10px auto;
        border-radius: 999px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;

    img {
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}

.share-button {
    z-index: 2;
}

.button1:hover {
    color: $ternary-color;
    color: var(--ternary-color);
    text-decoration: none;
    background: $primary-color;
    background: var(--primary-color);
    box-shadow: inset 9px 9px 18px #a8a28e, 
                        inset -9px -9px 18px #e4dcc0;
}

body.dark .button1:hover {
    background: #202020;
    box-shadow: inset 9px 9px 18px #1b1b1b, 
                        inset -9px -9px 18px #252525;
}

.media-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.media-btn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 111px;
    background: linear-gradient(145deg, #b2ac96, #d4ccb3);
    box-shadow:  9px 9px 18px #a8a28e, 
                        -9px -9px 18px #e4dcc0;

    &:hover {
        background: #c6bfa7;
        box-shadow: inset 9px 9px 18px #a8a28e, 
                            inset -9px -9px 18px #e4dcc0;
    }
}

body.dark .media-btn {
    color: $ternary-color;
    color: var(--ternary-color);
    background: linear-gradient(145deg, #1d1d1d, #222222);
    box-shadow:  9px 9px 18px #1b1b1b, 
                        -9px -9px 18px #252525;

    &:hover {
        background: #202020;
        box-shadow: inset 9px 9px 18px #1b1b1b, 
                            inset -9px -9px 18px #252525;
    }
}

.icone {
    font-size: 30px;
    color: $ternary-color;
    color: var(--ternary-color);
}

.bxs-chevrons-down {
    color: $ternary-color;
    color: var(--ternary-color); 
    font-size: 100px;
}

@media screen and (max-width: 1920px) {
    #home .heading  #type-writer {
        width: 75%;
    }
}

@media screen and (max-width: 1439px) {
    #home .heading #type-writer {
        width: 90%;
    }

    .profile-picture {
        max-width: 25%;
    }
}

@media screen and (max-width: 1199px) {
    #home .heading #type-writer {
        font-size: 25px;
    }

    .bxs-chevrons-down {
        font-size: 80px;
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .profile-picture {
        max-width: 30%;
    }

    #home .heading #type-writer {
        width: 100%;
        font-size: 22px;
        margin-bottom: 30px;
    }

    .media-btn {
        width: 50px;
        height: 50px;
    }

    .icone {
        font-size: 25px;
    }

    .bxs-chevrons-down {
        font-size: 70px;
    }

    #home {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    #home {
        height: 80vh;

        .heading #type-writer {
            width: 100%;
            font-size: 20px;
        }
    }

    .profile-picture {
        max-width: 40%;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #home .heading #type-writer {
        font-size: 16px;
    }

    .bxs-chevrons-down  {
        font-size: 50px;
    }

    #home {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .profile-picture {
        max-width: 80%;
    }

    #home .heading #type-writer {
        font-size: 20px;
    }

    .bxs-chevrons-down  {
        font-size: 50px;
    }

    #home {
        padding-bottom: 40px;
        height: 90vh;
    }
}

@media screen and (max-width: 399px) {
    .profile-picture {
        max-width: 50%;
    }

    #home .heading #type-writer {
        font-size: 15px;
    }

    .media-container {
        margin-bottom: 20px;
    }

    #home {
        height: 100%;
        padding-top: 70px;

    }
}

/* SKILLS */

#skills {
    position: relative;

    .heading h2 {
        color: $primary-color;
        color: var(--primary-color);
        margin-top: 40px;
        text-shadow: 1px 1px 2px #000;
    }

    .progress {
        height: 35px;
        margin: 30px 20px 0 20px;
        background: #ddd;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        h5 {
            text-shadow: 1px 1px 1px black;
            margin: 0;
            letter-spacing: 1px;
        }
    }

    .progress-bar {
        background: $primary-color;
        background: linear-gradient(155deg, rgba(219, 215, 200, 1) 0%, rgba(198, 191, 167, 1) 100%) !important;
        color: #888;
    }
}

.progress-bar h5 {
    font-size: 18px;
}

body.dark #skills {
    .heading h2 {
        color: #c6bfa7;
    }

    .progress h5 {
        color: $ternary-color;
        color: var(--ternary-color);
    }

    .progress-bar {
        background: $secondary-color;
        background: var(--secondary-color);
    }
}

@media screen and (max-width: 1199px) and (orientation: landscape) {
    .progress h5 {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .progress h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .progress {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .progress h5 {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) and (orientation: landscape) {
    .progress h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 399px) {
    .progress {
        margin: 30px 5px 0 5px !important;

        h5 {
            font-size: 12px;
        }

        i {
            display: none;
        }
    }
}

/* EXPERIENCE */

#experience {
    background: $primary-color;
    background: var(--primary-color);
    position: relative;

    .heading h2 {
        color: $ternary-color;
        color: var(--ternary-color);
        margin-top: 40px;
    }
}

.timeline {
    padding: 30px 10px;
    position: relative;

    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 5px;
        background: $ternary-color;
        background: var(--ternary-color);
        left: 50%;
        margin-left: -2.5px;
    }

    li {
        margin-bottom: 20px;
        position: relative;

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .timeline-badge {
            width: 50px;
            line-height: 50px;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        }
    }

    li:nth-child(2),  li:nth-child(5), li:nth-child(8), li:nth-child(11) {
        display: none;
    }
}

.timeline-body {
    font-size: 16px;

    a {
        text-decoration: none;
        color: $primary-color;
        color: var(--primary-color);
    
        &:hover {
            text-decoration: none;
            color: #958f7d;
        }
    }
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;

    .timeline-panel {
        float: left;
        margin-left: 40px;

        &:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    }
}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: $ternary-color;
    background: var(--ternary-color);

    &:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid $ternary-color;
        border-left:  14px solid var(--ternary-color);
        border-right: 0 solid $ternary-color;
        border-right: 0 solid var(--ternary-color);
        border-bottom: 14px solid transparent;
        content: "";
    }
}

.timeline-heading {
    h3 {
        margin-top: 5px;
        font-size: 20px;
    }

    h4 {
        color: $primary-color;
        color: var(--primary-color);
    }
}

body.dark {
    .timeline-panel {
        background: #888;
        border: 1px solid #000;

        &:after {
            border-left: 14px solid #888;
            border-right: 0 solid #888;
        }
    }

    .timeline-panel-container-inverted .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
    }

    .timeline-heading h4 {
        color: $ternary-color;
        color: var(--ternary-color);
    }

    .text-muted {
        color: #333 !important;
    }

    .timeline-body a {
        color: #c6bfa7;

        &:hover {
            color: #a8a28e;
        }
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .timeline .timeline-body {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    .timeline .timeline-heading {
        h3 {
            font-size: 22px;
        }

        h4 {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 767px) {
    .timeline {
        &:before {
            left: 90%;
            margin-left: -9.5px;
        }

        li .timeline-badge {
            left: 90%;
        }

        li:nth-child(1), li:nth-child(4), li:nth-child(7), li:nth-child(10) {
            display: none;
        }

        li:nth-child(2),  li:nth-child(5), li:nth-child(8), li:nth-child(11) {
            display: block;
        }
    }

    .timeline-panel-container {
        width: 90%;
    }

    .timeline-heading {
        h3 {
            font-size: 18px !important;
        }

        h4 {
            font-size: 16px !important;
        }
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .timeline-body {
        font-size: 14px;
    }

    .timeline-heading {
        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width:  399px) {
    .timeline-body {
        font-size: 12px;
    }
}

/* EDUCATION */

#education {
    position: relative;

    .heading h2 {
        color: $primary-color;
        color: var(--primary-color);
        margin-top: 40px;
        text-shadow: 1px 1px 2px #000;
    }
}

.education-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #333;
    margin-bottom: 20px;
    height: 500px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    h6 {
        color: #333;
        font-size: 18px;
        margin-bottom: 15px;
    }

    i.fa-graduation-cap {
        font-size: 40px;
    }

    h4 {
        color: $primary-color;
        color: var(--primary-color);
        margin-top: 20px;
    }

    h5 {
        margin-bottom: 20px;
    }

    p {
        font-weight: bold;
    }

    .beige-divider {
        margin-bottom: 20px;
        box-shadow: none;
    }
}

body.dark #education {
    .heading h2 {
        color: $ternary-color;
        color: var(--ternary-color);
    }

    .education-block {
        background: #888;

        h4 {
            color: $ternary-color;
            color: var(--ternary-color);
        }
    }
}

@media screen and (max-width: 991px) {
    .education-block {
        width: 75%;
        height: auto;
        padding: 10px;

        h6 {
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .education-block {
        width: 100%;
    }
}

/* PORTFOLIO */

#portfolio {
    background: $primary-color;
    background: var(--primary-color);
    min-height: 60vh;
    position: relative;

    .heading h2 {
        color: $ternary-color;
        color: var(--ternary-color);
        margin-top: 40px;
    }

    .img-box {
        position: relative;
        perspective: 500px;
        -moz-perspective: 500px;
        -ms-perspective: 500px;
        -webkit-perspective: 500px;
        padding: 10px 15px;
        cursor: pointer;

        img {
            transition: transform 1s ease-out;
            -moz-transition: transform 1s ease-out;
            -o-transition: transform 1s ease-out;
            -webkit-transition: transform 1s ease-out;
        }

        &:hover img {
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transform: rotateY(10deg);
            -moz-transform: rotateY(10deg);
            -ms-transform: rotateY(10deg);
            -o-transform: rotateY(10deg);
            -webkit-transform: rotateY(10deg);
        }
    }

    .img-thumbnail {
        width: 100%;
        height: 95%;
        background: none;
        border: none;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        perspective: 500px;
        -moz-perspective: 500px;
        -ms-perspective: 500px;
        -webkit-perspective: 500px;

        &:hover {
            filter: none;
            -webkit-filter: none;
        }
    }

    .img-thumbnail-inverted {
        transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
    }
}

.modal-content {
    background-color: $primary-color;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.modal-header {
    .modal-title {
        color: $secondary-color;
        color: var(--secondary-color);
    }

    span {
        color: $secondary-color;
        color: var(--secondary-color);
    }
}

.modal-body {
    background: url("../images/wall.jpg") 50% 50% no-repeat;
    background-size: cover !important;
    height: 100%;
    width: 100%;

    h5 {
        margin: 20px 30px;
        color: #333;
    }

    img {
        margin-bottom: 20px;
    }
}

.modal-footer a {
    cursor: pointer;
    color: $ternary-color !important;
    color: var(--ternary-color) !important;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    // Pour que le bouton "Visiter le site" apparaisse normalement sur iOS
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.modal-footer a:hover {
    background-color:   #49985b  ;
    border-color:   #49985b  ;
}

body.dark {
    .modal-header {
        .modal-title {
            color: $ternary-color;
            color: var(--ternary-color);
        }
    
        span {
            color: $ternary-color;
            color: var(--ternary-color);
            text-shadow: none;
        }
    }

    .modal-body h5 {
        color: #d5d5d5;
        text-shadow: 1px 1px 2px $primary-color;
        text-shadow: 1px 1px 2px var(--primary-color);
    }

    .modal-footer a {
        color: #fff !important;
    }
}

@media screen and (max-width: 767px) {
    .img-box {
        width: 70%;
    }
}

@media screen and (max-width: 399px) {
    .img-box {
        width: 90%;
    }
}

/* QUI SUIS-JE */

#who-am-i {
    min-height: 35vh;
    position: relative;

    .heading h2 {
        color: $primary-color;
        color: var(--primary-color);
        margin-top: 40px;
        text-shadow: 1px 1px 2px #000;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #333;
    font-size: 30px;
    width: 30px;
    height: 30px;
    background-image: none;
}

.carousel-indicators > li {
    border-radius: 50%;
    border: 1px solid $primary-color;
    border: 1px solid var(--primary-color);
    width: 12px;
    height: 12px;
    box-shadow: 1px 1px 1px #000;

    &.active {
        background-color: $primary-color;
        background-color: var(--primary-color);
    }
}

#myCarousel .carousel-item {
    padding: 40px 30px;

    h3 {
        color: $primary-color;
        color: var(--primary-color);
        font-style: italic;
        text-shadow: 1px 1px 2px #000;
    }

    h4 {
        color: #333;
    }
}

body.dark #who-am-i{
    .heading h2 {
        color: $ternary-color;
        color: var(--ternary-color);
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        color: $ternary-color;
        color: var(--ternary-color);
    }

    .carousel-indicators > li {
        background: #333;
        border: 1px solid $ternary-color;
        border: 1px solid var(--ternary-color);

        &.active {
            background-color: $ternary-color;
            background-color: var(--ternary-color);
        }
    }

    #myCarousel .carousel-item {
        h3 {
            color: $ternary-color;
            color: var(--ternary-color);
        }

        h4 {
            color: #d5d5d5;
        }
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .carousel-control-prev, .carousel-control-next {
        width: 0%;
    }

    #myCarousel .carousel-item h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 991px) and (orientation: portrait) {
    .carousel-control-prev, .carousel-control-next {
        width: 0%;
    }

    #myCarousel .carousel-item h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #myCarousel .carousel-item {
        h3 {
            font-size: 25px;
        }
        
        h4 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    #myCarousel .carousel-item {
        h3 {
            font-size: 18px;
        }
        
        h4 {
            font-size: 15px;
        }
    }
}

/* CONTACT */

#contact {
    background: $primary-color;
    background: var(--primary-color);
    position: relative;

    .heading h2 {
        color: $ternary-color;
        color: var(--ternary-color);
        margin-top: 40px;
    }
}

#contact-form {
    font-size: 20px;
    background-color: $secondary-color;
    background-color: var(--secondary-color);
    color: $primary-color;
    color: var(--primary-color);
    padding: 50px 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;

    input[type=submit] {
        margin: 40px auto 0px;
        display: block;
        border: none !important;
        color: $primary-color;
        color: var(--primary-color);
        background: linear-gradient(145deg, #e6e6e6, $ternary-color);
        background: linear-gradient(145deg, #e6e6e6, var(--ternary-color));
        box-shadow:  9px 9px 18px #d6cbca, 
                            -9px -9px 18px $ternary-color;
        box-shadow:  9px 9px 18px #d6cbca, 
                            -9px -9px 18px var(--ternary-color);
    }

    input[type=submit]:hover {
        background: $ternary-color;
        background: var(--ternary-color);
        box-shadow: inset 9px 9px 18px #d6cbca, 
                            inset -9px -9px 18px $ternary-color;
        box-shadow: inset 9px 9px 18px #d6cbca, 
                            inset -9px -9px 18px var(--ternary-color);

    }

    select {
        border: 3px solid #aaa;
        border-radius: 999px;

        option {
            border-radius: 999px;
        }
    }

    .form-group {
        margin-top: 10px;
    }

    .form-group:nth-child(6) {
        margin-top: 50px;
    }

    .form-group:not(:nth-child(5)) {
        position: relative;
        display: flex;
        margin-bottom: 80px;

        label:not(.select-label) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transition: 0.4s ease-out;
            -moz-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
            -webkit-transition: 0.4s ease-out;
        }

        input, textarea {
            display: block;
            width: 100%;
            padding: 10px 0px;
            border: none;
            outline: none;
            background: none;
            border-bottom: 3px solid #aaa;
            color: #333;
            font-size: 20px;
            transition: 0.4s ease-out;
            -moz-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
            -webkit-transition: 0.4s ease-out;
        }

        input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
            outline: 0px !important;
            -webkit-appearance: none;
                -moz-appearance: none;
                        appearance: none;
            box-shadow: none !important;
        }

        &:focus-within label, &.animation label {
            top: 0px;
            transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            border: none;
            outline: none;
        }

        &:focus-within input, &.animation input, &:focus-within textarea, &.animation textarea {
            border-bottom-color: $primary-color;
            border-bottom-color: var(--primary-color);
        }
    }

    .form-group:nth-child(5) {
        &:focus-within select, &.animation select {
            border-color: $primary-color !important;
            border-color: var(--primary-color) !important;
        }
    }
}

body.dark {
    #contact-form {
        color: $ternary-color;
        color: var(--ternary-color);

        .form-group:not(:nth-child(5)) {
            input, textarea {
                color: #d5d5d5;
            }

            &:focus-within input, &.animation input, &:focus-within textarea, &.animation textarea {
                border-bottom-color: $ternary-color;
                border-bottom-color: var(--ternary-color);
            }
        }

        .comments {
            color: $ternary-color;
            color: var(--ternary-color);
        }

        select, option {
            background: #d5d5d5;
        }
    }

    input[type=submit] {
        color: $ternary-color !important;
        color: var(--ternary-color) !important;
        background: linear-gradient(145deg, #292929, #303030) !important;
        box-shadow:  9px 9px 18px #262626, 
                            -9px -9px 18px #343434 !important;
    
        &:hover {
            box-shadow: inset 9px 9px 18px #262626, 
                                inset -9px -9px 18px #343434 !important;
        }
    }

    .contact-methods {
        color: $ternary-color;
        color: var(--ternary-color);

        .nonstyle-link {
            color: $ternary-color;
            color: var(--ternary-color);
        }
    }
}

// Pour le support de la classe animation pour les navigateurs Edge
@supports (-ms-ime-align: auto) {
    .animation label {
        top: 0px !important;
        transform: translateY(-100%) !important;
        -moz-transform: translateY(-100%) !important;
        -ms-transform: translateY(-100%) !important;
        -o-transform: translateY(-100%) !important;
        -webkit-transform: translateY(-100%) !important;
        border: none;
        outline: none;
    }

    .animation input, .animation textarea {
        border-bottom-color: $primary-color !important;
        border-bottom-color: var(--primary-color) !important;
    }

    #contact-form .animation select {
        border: 3px solid $primary-color !important;
        border: 3px solid var(--primary-color) !important;
    }
}

// Pour le support de la classe animation pour les navigateurs Internet Explorer
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .animation label {
        top: 0px !important;
        transform: translateY(-100%) !important;
        -moz-transform: translateY(-100%) !important;
        -ms-transform: translateY(-100%) !important;
        -o-transform: translateY(-100%) !important;
        -webkit-transform: translateY(-100%) !important;
        border: none;
        outline: none;
    }

    .animation input, .animation textarea {
        border-bottom: 3px solid $primary-color !important;
        border-bottom: 3px solid var(--primary-color) !important;
    }

    #contact-form .animation select {
        border: 3px solid $primary-color !important;
        border: 3px solid var(--primary-color) !important;
    }
 }

.form-control {
    height: 50px;
    font-size: 18px;
}

.comments {
    position: absolute;
    bottom: -60px;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-style: italic;
    font-size: 18px;
    color: $primary-color;
    color: var(--primary-color);
    height: 25px;
}

// Pour que les messages d'erreur du formulaire s'affichent correctement sur IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .comments {
        left: 10px;
    }
}

.thank-you {
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    border-radius: 999px;
}

.contact-methods {
    margin-top: 50px;
    text-align: center;
    color: $primary-color;
    color: var(--primary-color);
    background-color: $secondary-color;
    background-color: var(--secondary-color);
    padding: 20px 40px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 999px;

    .nonstyle-link {
        text-decoration: none;
        color: $primary-color;
        color: var(--primary-color);
    }
}

@media screen and (max-width: 1199px) {
    .contact-method p {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    #contact-form, .comments {
        font-size: 16px;
    }

    .contact-methods {
        padding: 15px 10px;

        .contact-method {
            padding: 0;

            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #contact-form {
        padding: 40px 30px;

        .form-group:not(:nth-child(5)) {
            margin-bottom: 50px;
        }

        .form-control {
            height: 35px;
        }
    }

    .contact-methods {
        border-radius: 10px;

        .contact-method {
            h4 {
                font-size: 20px;
            }
    
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    #contact-form {
        font-size: 14px;

        .form-group:not(:nth-child(5)) {
            margin-bottom: 70px;

            input, textarea {
                font-size: 14px;
            }
        }

        .form-control, .comments {
            font-size: 14px;
        }
    }

    .thank-you {
        font-size: 18px;
        border-radius: 10px;
    }

    .form-control {
        font-size: 14px;
    }

    .contact-methods {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .contact-method {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 575px) and (orientation: landscape) {
    .thank-you {
        font-size: 18px;
    }

    .contact-methods {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 399px) {
    .thank-you {
        font-size: 14px;
    }

    .contact-methods {
        width: 100%;
    }
}

/* FOOTER */

footer {
    background: #333;
    padding: 20px 0 40px;

    .fa-chevron-up {
        font-size: 25px;
        margin: 20px;
        color: $primary-color;
        color: var(--primary-color);
        height: 35px;

        &:hover {
            font-size: 30px;
        }
    }

    h5 {
        color: $ternary-color;
        color: var(--ternary-color);
        font-weight: normal;
    }
}

@media screen and (max-width: 991px) {
    footer h5 {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    footer h5 {
        font-size: 13px;
    }
}