@charset "UTF-8";
/* GENERAL */
::-moz-selection {
  background: #88bef5;
  color: #fff;
}
::selection {
  background: #88bef5;
  color: #fff;
}

body {
  font-family: 'Comfortaa', cursive;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background: #fcefee;
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

section {
  padding: 45px 0 80px 0;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

section .heading .h2 {
  text-transform: uppercase;
}

.curved {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.slow-curved {
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

.button1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 999px;
  -webkit-transition: color 0.3s ease-in 0s;
  transition: color 0.3s ease-in 0s;
  background: linear-gradient(145deg, #7aabdd, #92cbff);
  -webkit-box-shadow: 9px 9px 18px #74a2d0,  -9px -9px 18px #9cdbff;
          box-shadow: 9px 9px 18px #74a2d0,  -9px -9px 18px #9cdbff;
}

.blue-divider {
  background: #88bef5;
  width: 100px;
  height: 2px;
  margin: 0 auto;
}

.white-divider {
  background: #fff;
  width: 100px;
  height: 2px;
  margin: 0 auto;
}

.overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #fcefee;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay-bgblue {
  background: #88bef5 !important;
}

.container {
  position: relative;
}

/* MENU */
.navbar {
  background: #88bef5;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.navbar .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-pills .nav-link {
  color: #fff !important;
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
  color: #88bef5 !important;
  background: #fff !important;
}

.navbar-nav li a {
  color: #fff !important;
  margin: 5px 10px;
}

.navbar-light .navbar-toggler {
  border-style: none;
  /* Permet d'enlever les pointillés qui apparaissent d'office lors de la sélection d'un bouton sur Firefox'*/
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* ABOUT */
#about {
  padding-top: 100px;
  background: #88bef5;
}

#about .heading h2 {
  color: white;
  padding: 10px 0;
  margin-top: 30px;
  font-weight: normal;
  background: #333;
  width: 50%;
  margin: 30px auto 10px auto;
  border-radius: 999px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}

.profile-picture img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.share-button {
  z-index: 2;
}

.button1:hover {
  color: #fff;
  text-decoration: none;
  background: #88bef5;
  -webkit-box-shadow: inset 9px 9px 18px #74a2d0,  inset -9px -9px 18px #9cdbff;
          box-shadow: inset 9px 9px 18px #74a2d0,  inset -9px -9px 18px #9cdbff;
}

.media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 40px 0;
}

.media-btn {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 111px;
  background: linear-gradient(145deg, #7aabdd, #92cbff);
  -webkit-box-shadow: 9px 9px 18px #74a2d0,  -9px -9px 18px #9cdbff;
          box-shadow: 9px 9px 18px #74a2d0,  -9px -9px 18px #9cdbff;
}

.media-btn:hover {
  background: #88bef5;
  -webkit-box-shadow: inset 9px 9px 18px #74a2d0,  inset -9px -9px 18px #9cdbff;
          box-shadow: inset 9px 9px 18px #74a2d0,  inset -9px -9px 18px #9cdbff;
}

.icone {
  font-size: 30px;
  color: #fff;
}

/* SKILLS */
#skills {
  background: #fcefee;
  position: relative;
}

#skills .heading h2 {
  color: #88bef5;
  margin-top: 40px;
}

#skills .progress {
  height: 35px;
  margin: 30px 20px 0 20px;
  background: #ddd;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#skills .progress h5 {
  text-shadow: 1px 1px 1px black;
  margin: 0;
  letter-spacing: 1px;
}

#skills .progress-bar {
  background: #88bef5;
}

/* EXPERIENCE */
#experience {
  background: #88bef5;
  position: relative;
}

#experience .heading h2 {
  color: #fff;
  margin-top: 40px;
}

.timeline {
  padding: 30px 10px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #fff;
  left: 50%;
  margin-left: -2.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-badge {
  width: 50px;
  line-height: 50px;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
}

.timeline-body {
  font-size: 16px;
}

.timeline-body a {
  text-decoration: none;
  color: #88bef5;
}

.timeline-body a:hover {
  text-decoration: none;
  color: #77a6d6;
}

.timeline-panel-container {
  width: 50%;
  float: left;
}

.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}

.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}

.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
}

.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4 {
  color: #88bef5;
}

@media screen and (max-width: 767px) {
  .timeline:before {
    left: 90%;
    margin-left: -9.5px;
  }
  .timeline li .timeline-badge {
    left: 90%;
  }
  .timeline li:nth-child(2), .timeline li:nth-child(5), .timeline li:nth-child(8) {
    display: none;
  }
  .timeline-panel-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .timeline li:nth-child(3), .timeline li:nth-child(6), .timeline li:nth-child(9) {
    display: none;
  }
}

/* EDUCATION */
#education {
  background: #fcefee;
  position: relative;
}

#education .heading h2 {
  color: #88bef5;
  margin-top: 40px;
}

.education-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #333;
  margin-bottom: 20px;
  height: 500px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.education-block h6 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.education-block i.fa-graduation-cap {
  font-size: 40px;
}

.education-block h4 {
  color: #88bef5;
  margin-top: 20px;
}

.education-block h5 {
  margin-bottom: 20px;
}

.education-block p {
  font-weight: bold;
}

.education-block .blue-divider {
  margin-bottom: 20px;
}

/* PORTFOLIO */
#portfolio {
  background: #88bef5;
  min-height: 60vh;
  position: relative;
}

#portfolio .heading h2 {
  color: #fff;
  margin-top: 40px;
}

#portfolio .img-box {
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  padding: 10px 15px;
  cursor: pointer;
}

#portfolio .img-box img {
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

#portfolio .img-box:hover img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
}

#portfolio .img-thumbnail {
  width: 100%;
  height: 95%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-perspective: 500px;
          perspective: 500px;
}

#portfolio .img-thumbnail:hover {
  filter: none;
  -webkit-filter: none;
}

#portfolio .img-thumbnail-inverted {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.modal-content {
  background-color: #fcefee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.modal-header .modal-title {
  color: #88bef5;
}

.modal-header span {
  color: #88bef5;
}

.modal-body h5 {
  margin: 20px 30px;
}

.modal-body img {
  margin-bottom: 20px;
}

/* QUI SUIS-JE */
#who-am-i {
  background: #fcefee;
  min-height: 35vh;
  position: relative;
}

#who-am-i .heading h2 {
  color: #88bef5;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .carousel-control-prev, .carousel-control-next {
    width: 0%;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #88bef5;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.carousel-indicators > li {
  border-radius: 50%;
  border: 1px solid #88bef5;
  width: 12px;
  height: 12px;
}

.carousel-indicators > li.active {
  background-color: #88bef5;
}

#myCarousel .carousel-item {
  padding: 40px 30px;
}

#myCarousel .carousel-item h3 {
  color: #88bef5;
  font-style: italic;
}

/* CONTACT */
#contact {
  background: #88bef5;
  position: relative;
}

#contact .heading h2 {
  color: #fff;
  margin-top: 40px;
}

#contact-form {
  font-size: 20px;
  background-color: #fcefee;
  color: #88bef5;
  padding: 50px 80px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#contact-form input[type=submit] {
  margin: 40px auto 0px;
  display: block;
  border: none !important;
  color: #88bef5;
  background: linear-gradient(145deg, #e6e6e6, #fff);
  -webkit-box-shadow: 9px 9px 18px #d6cbca,  -9px -9px 18px #fff;
          box-shadow: 9px 9px 18px #d6cbca,  -9px -9px 18px #fff;
}

#contact-form input[type=submit]:hover {
  background: #fff;
  -webkit-box-shadow: inset 9px 9px 18px #d6cbca,  inset -9px -9px 18px #fff;
          box-shadow: inset 9px 9px 18px #d6cbca,  inset -9px -9px 18px #fff;
}

#contact-form select {
  border: 3px solid #aaa;
}

#contact-form .form-group {
  margin-top: 10px;
}

#contact-form .form-group:nth-child(6) {
  margin-top: 50px;
}

#contact-form .form-group:not(:nth-child(5)) {
  margin-bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

#contact-form .form-group:not(:nth-child(5)) label:not(.select-label) {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#contact-form .form-group:not(:nth-child(5)) input, #contact-form .form-group:not(:nth-child(5)) textarea {
  display: block;
  width: 100%;
  pad: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #333;
  font-size: 20px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#contact-form .form-group:not(:nth-child(5)) input:hover, #contact-form .form-group:not(:nth-child(5)) input:active, #contact-form .form-group:not(:nth-child(5)) input:focus, #contact-form .form-group:not(:nth-child(5)) textarea:hover, #contact-form .form-group:not(:nth-child(5)) textarea:active, #contact-form .form-group:not(:nth-child(5)) textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#contact-form .form-group:not(:nth-child(5)):focus-within label, #contact-form .form-group:not(:nth-child(5)).animation label {
  top: 0px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border: none;
  outline: none;
}

#contact-form .form-group:not(:nth-child(5)):focus-within input, #contact-form .form-group:not(:nth-child(5)).animation input, #contact-form .form-group:not(:nth-child(5)):focus-within textarea, #contact-form .form-group:not(:nth-child(5)).animation textarea {
  border-bottom-color: #88bef5;
}

#contact-form .form-group:nth-child(5):focus-within select, #contact-form .form-group:nth-child(5).animation select {
  border-color: #88bef5 !important;
}

.form-control {
  height: 50px;
  font-size: 18px;
}

.comments {
  position: absolute;
  bottom: -60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-style: italic;
  font-size: 18px;
  color: #88bef5;
  height: 25px;
}

.thank-you {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
  border-radius: 999px;
}

/* FOOTER */
footer {
  background: #333;
  padding: 20px 0 40px;
}

footer .fa-chevron-up {
  font-size: 25px;
  margin: 20px;
  color: #88bef5;
  height: 35px;
}

footer .fa-chevron-up:hover {
  font-size: 30px;
}

footer h5 {
  color: #fff;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */